# House Rent Prediction

## Splitting Of Data

In [16]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("EDA & Feature Engg.csv")
df

,Rent,BHK,Size,Floor,Area Type,City,Furnishing Status,Tenant Preferred,Bathroom
0,10000,0.285714,0.503464,0.250,1.0,0.8,1.0,0.5,0.4
1,20000,0.285714,0.364896,0.375,1.0,0.8,0.5,0.5,0.0
2,17000,0.285714,0.457275,0.375,1.0,0.8,0.5,0.5,0.0
3,10000,0.285714,0.364896,0.375,1.0,0.8,1.0,0.5,0.0
4,7500,0.285714,0.387991,0.375,0.5,0.8,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
4741,15000,0.285714,0.457275,0.625,0.5,0.6,0.5,0.5,0.4
4742,29000,0.571429,0.919169,0.375,1.0,0.6,0.5,0.5,0.8
4743,35000,0.571429,0.803695,0.625,0.5,0.6,0.5,0.5,0.8
4744,45000,0.571429,0.688222,1.000,0.5,0.6,0.5,1.0,0.4
4745,15000,0.285714,0.457275,0.750,0.5,0.6,1.0,0.0,0.4

In [19]:
X=df.drop(['Rent'],axis=1)
y=df[['Rent']]

In [20]:
X

,BHK,Size,Floor,Area Type,City,Furnishing Status,Tenant Preferred,Bathroom
0,0.285714,0.503464,0.250,1.0,0.8,1.0,0.5,0.4
1,0.285714,0.364896,0.375,1.0,0.8,0.5,0.5,0.0
2,0.285714,0.457275,0.375,1.0,0.8,0.5,0.5,0.0
3,0.285714,0.364896,0.375,1.0,0.8,1.0,0.5,0.0
4,0.285714,0.387991,0.375,0.5,0.8,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
4741,0.285714,0.457275,0.625,0.5,0.6,0.5,0.5,0.4
4742,0.571429,0.919169,0.375,1.0,0.6,0.5,0.5,0.8
4743,0.571429,0.803695,0.625,0.5,0.6,0.5,0.5,0.8
4744,0.571429,0.688222,1.000,0.5,0.6,0.5,1.0,0.4
4745,0.285714,0.457275,0.750,0.5,0.6,1.0,0.0,0.4

In [21]:
y

       Rent
0     10000
1     20000
2     17000
3     10000
4      7500
...     ...
4741  15000
4742  29000
4743  35000
4744  45000
4745  15000

[4746 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [23]:
print("X_train: ",X_train.shape)
print("y_train: ",y_train.shape)
print("X_test: ",X_test.shape)
print("y_test: ",y_test.shape)

X_train:  (3796, 8)
y_train:  (3796, 1)
X_test:  (950, 8)
y_test:  (950, 1)

In [45]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split


# Initialize regression models
linear_reg = LinearRegression()
ridge_reg = Ridge()
lasso_reg = Lasso()
decision_tree_reg = DecisionTreeRegressor(min_samples_split=30,max_depth=10,random_state=42)
xgb = XGBRegressor(max_depth=3)
random_forest_reg = RandomForestRegressor(n_estimators=300,max_depth=10,min_samples_split=30,random_state=42)
gradient_boosting_reg = GradientBoostingRegressor(n_estimators=300,min_samples_split=20,random_state=42)

# List of models
models = [linear_reg, ridge_reg, lasso_reg, decision_tree_reg, random_forest_reg, gradient_boosting_reg,xgb]
model_names = ['Linear Regression', 'Ridge Regression', 'Lasso Regression', 
               'Decision Tree Regression', 'Random Forest Regression', 'Gradient Boosting Regression']

# Dictionary to store evaluation metrics
evaluation_results = {'Model': [], 'RMSE': [], 'R2': []}

In [46]:
# Train and evaluate each model
for model, name in zip(models, model_names):
    # Train the model
    model.fit(X_train, y_train)
    
    # Predict on the testing data
    y_pred = model.predict(X_test)
    
    # Calculate evaluation metrics
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    r2 = r2_score(y_test, y_pred)
    
    # Store the evaluation results
    evaluation_results['Model'].append(name)
    evaluation_results['RMSE'].append(rmse)
    evaluation_results['R2'].append(r2)

# Display evaluation results
import pandas as pd
evaluation_df = pd.DataFrame(evaluation_results)
print(evaluation_df)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)
C:\Users\User\anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

                          Model          RMSE        R2
0             Linear Regression  51165.658827  0.343118
1              Ridge Regression  51161.538157  0.343224
2              Lasso Regression  51165.310109  0.343127
3      Decision Tree Regression  42851.107894  0.539262
4      Random Forest Regression  38139.004891  0.635020
5  Gradient Boosting Regression  42462.304478  0.547585

In [47]:
from keras.models import Sequential
from keras.layers import Dense, LSTM
model = Sequential()
model.add(LSTM(128,return_sequences=True,input_shape=(X_train.shape[1],1)))
model.add(LSTM(64,return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))
model.summary()

WARNING:tensorflow:From C:\Users\User\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 8, 128)            66560

 lstm_1 (LSTM)               (None, 64)                49408

 dense (Dense)               (None, 25)                1625

 dense_1 (Dense)             (None, 1)                 26

=================================================================
Total params: 117619 (459.45 KB)
Trainable params: 117619 (459.45 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [50]:
model.compile(optimizer='adam', loss='mean_squared_error')
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), batch_size=1, epochs=21)

Epoch 1/21
3796/3796 [==============================] - 38s 9ms/step - loss: 4573441536.0000 - val_loss: 2198304768.0000
Epoch 2/21
3796/3796 [==============================] - 32s 8ms/step - loss: 4531913216.0000 - val_loss: 2138210944.0000
Epoch 3/21
3796/3796 [==============================] - 32s 8ms/step - loss: 4430944256.0000 - val_loss: 1965666944.0000
Epoch 4/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4462461440.0000 - val_loss: 1857522048.0000
Epoch 5/21
3796/3796 [==============================] - 32s 8ms/step - loss: 4412672512.0000 - val_loss: 1838642432.0000
Epoch 6/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4454638592.0000 - val_loss: 1754648192.0000
Epoch 7/21
3796/3796 [==============================] - 35s 9ms/step - loss: 4389349376.0000 - val_loss: 1818471552.0000
Epoch 8/21
3796/3796 [==============================] - 33s 9ms/step - loss: 4368422400.0000 - val_loss: 2073431936.0000
Epoch 9/21
3796/3796 [==============================] - 33s 9ms/step - loss: 4386221056.0000 - val_loss: 1763934976.0000
Epoch 10/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4362973696.0000 - val_loss: 1780345088.0000
Epoch 11/21
3796/3796 [==============================] - 33s 9ms/step - loss: 4272304896.0000 - val_loss: 1718626048.0000
Epoch 12/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4226323456.0000 - val_loss: 1678217728.0000
Epoch 13/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4217806592.0000 - val_loss: 1647080832.0000
Epoch 14/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4187860736.0000 - val_loss: 1622493568.0000
Epoch 15/21
3796/3796 [==============================] - 32s 8ms/step - loss: 4090505216.0000 - val_loss: 1708183808.0000
Epoch 16/21
3796/3796 [==============================] - 32s 8ms/step - loss: 4159208960.0000 - val_loss: 1622059520.0000
Epoch 17/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4210569472.0000 - val_loss: 1619563008.0000
Epoch 18/21
3796/3796 [==============================] - 32s 8ms/step - loss: 4121861632.0000 - val_loss: 1893974912.0000
Epoch 19/21
3796/3796 [==============================] - 32s 9ms/step - loss: 4078090240.0000 - val_loss: 1537972096.0000
Epoch 20/21
3796/3796 [==============================] - 32s 9ms/step - loss: 3998927616.0000 - val_loss: 1736384512.0000
Epoch 21/21
3796/3796 [==============================] - 33s 9ms/step - loss: 4143930624.0000 - val_loss: 1650647424.0000

In [51]:
model.compile(optimizer='adam', loss='mean_squared_error')
model.fit(X_train, y_train, batch_size=1, epochs=21)
test_loss = model.evaluate(X_test, y_test)
print("Test Loss:", test_loss)

Epoch 1/21
3796/3796 [==============================] - 35s 8ms/step - loss: 4064504576.0000
Epoch 2/21
3796/3796 [==============================] - 30s 8ms/step - loss: 4086676224.0000
Epoch 3/21
3796/3796 [==============================] - 30s 8ms/step - loss: 4099437312.0000
Epoch 4/21
3796/3796 [==============================] - 29s 8ms/step - loss: 4004354304.0000
Epoch 5/21
3796/3796 [==============================] - 29s 8ms/step - loss: 4097626368.0000
Epoch 6/21
3796/3796 [==============================] - 29s 8ms/step - loss: 4054134784.0000
Epoch 7/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3995197952.0000
Epoch 8/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3958553600.0000
Epoch 9/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3941511680.0000
Epoch 10/21
3796/3796 [==============================] - 29s 8ms/step - loss: 4012876032.0000
Epoch 11/21
3796/3796 [==============================] - 29s 8ms/step - loss: 4003098368.0000
Epoch 12/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3940908800.0000
Epoch 13/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3999929344.0000
Epoch 14/21
3796/3796 [==============================] - 29s 8ms/step - loss: 4081355776.0000
Epoch 15/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3927918848.0000
Epoch 16/21
3796/3796 [==============================] - 30s 8ms/step - loss: 3966704640.0000
Epoch 17/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3948344576.0000
Epoch 18/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3923182592.0000
Epoch 19/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3890865664.0000
Epoch 20/21
3796/3796 [==============================] - 29s 8ms/step - loss: 3964203264.0000
Epoch 21/21
3796/3796 [==============================] - 31s 8ms/step - loss: 3926767872.0000
30/30 [==============================] - 2s 8ms/step - loss: 1482518528.0000
Test Loss: 1482518528.0

# Based on our evaluation random forest works well for the above data that any other models